/* Basic reset and margin/padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #f4f4f9;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f9;
}

.container {
    background-color: #444;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    max-width: 600px;
    margin: 20px auto;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.message-container {
    background-color: #444;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    max-width: 600px;
    margin: 20px auto;
    transition: background-color 0.3s, box-shadow 0.3s;
}
h1 {
    text-align: center;
    color: #2196f3;
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    color: #ddd;
    text-align: center;
    margin-bottom: 20px;
}

/* Styling for the welcome message */
.welcome-message {
    text-align: center;
    font-size: 20px;
    color: #ddd;
    margin-top: 10px;
    font-style: italic;
    margin-bottom: 30px;
}

/* Form field styling */
label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2196ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2078ba;
}

/* Portal section styles */
.portals {
    text-align: center;
    margin-bottom: 30px;
}

.portal-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.portal-links a {
    text-decoration: none;
    color: #ddd;
    text-align: center;
}

.portal-logo {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

.portal-links p {
    font-size: 16px;
    font-weight: bold;
}
.radio-group {
    display: flex;
    align-items: center;
    gap: 0; /* Adjust this gap as needed */
}

.radio-group input[type="radio"],
.radio-group label {
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

label[for="repeater"] {
    display: inline-block; /* Ensures the label is inline with the radio buttons */
}




